@tailwind base;
@tailwind components;
@tailwind utilities;

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}

.manrope{
  font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

.list-scrollbar{
  scrollbar-width: none;
}

